<div class="dialogue">
  <div class="dialogue__photo">
    <img src="{{dialogAvatar}}" alt="Avatar" />
  </div>
  <div class="dialogue__content">
    <div class="dialogue__name">{{dialogueName}}</div>
    <div class="dialogue__text"><span class="dialogue__text--you">{{dialogueTextYou}}</span>{{dialogueText}}</div>
  </div>
  <div class="dialogue__info">
    <time class="dialogue__time">{{dialogueTime}}</time>
    <div class="dialogue__msg">{{dialogueMsg}}</div>
  </div>
</div>